<div class="col-sm-12
            col-md-8 offset-md-2
            col-lg-6 offset-lg-3">

    <form [formGroup]="form" (ngSubmit)="submit()">

        <h2>Login is administrator</h2>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" formControlName="email" id="email" class="form-control"/>
            <div *ngIf="form.get('email').touched && form.get('email').invalid" class="text-danger">
                <small class="form-text" *ngIf="form.get('email').errors.required">Enter email.</small>
                <small class="form-text" *ngIf="form.get('email').errors.email">Enter valid email.</small>
            </div>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" id="password" class="form-control"/>
            <div *ngIf="form.get('password').touched && form.get('password').invalid" class="text-danger">
                <small class="form-text" *ngIf="form.get('password').errors.required">Enter password</small>
                <small class="form-text" *ngIf="form.get('password').errors.minlength">Password must be at least
                    {{form.get('password').errors.minlength.requiredLength}} symbols.
                    Now is {{form.get('password').errors.minlength.actualLength}} symbols.
                </small>
            </div>
        </div>

        <button class="btn btn-primary btn-block" type="submit" [disabled]="form.invalid && !submitted">Logon</button>

    </form>

</div>
